:root {

    --primary-color: #0066FF;
    --primary-color-hovered: #005ce6;

    --secondary-color: #0e162f;
    --secondary-color-hovered: #0d142a;

    --text-color: #080d1c;
    --text-color-gray: #3e4559;

    --background-color: #f3f3f5;
    --border-color: #b7b9c1;

    --danger-color: #9d0208;
    --warning-color: #ff8800;
    --success-color: #008000;

    --white-color: #fff;
    --black-color: #000;
}