.app {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--white-color);
    padding: 32px;
    border-radius: 32px;

    &-header {
        text-align: center;
    }

    &-description {
        color: var(--text-color-gray);
    }

    &-body {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &-settings {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.copy-button {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-color-hovered);
    }
}

.password-power {
    width: max-content;
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    border-radius: 8px;
    color: var(--white-color);

    &.success {
        background-color: var(--success-color);
    }

    &.danger {
        background-color: var(--danger-color);
    }

    &.warning {
        background-color: var(--warning-color);
    }
    
}

.password-length {
    display: flex;
    align-items: center;
    gap: 8px;

    &-text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: var(--white-color);
        background-color: var(--primary-color);
    }

    input {
        width: 100%;
    }
}

.password-input {
    font-size: 16px;
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px;
}